/*


1.common css
2.Menu



*/



/*common css start*/


* {

    margin: 0px;
    padding: 0px;

}

ul {

    list-style: none;


}

a {

    text-decoration: none;

}


img {

    vertical-align: middle;

}


.full-wrapper {

    width: 100%;

}

.container {

    width: 1170px;
    margin: 0 auto;

}

.clr {

    clear: both;

}


:root {


    --montserrat: 'Montserrat', sans-serif;
    --opensens: 'Open Sans', sans-serif;

}

.mr-30 {

    margin-right: 30px;

}

.m-30 {

    margin: 0px 30px;

}


/*common css end*/


/*menu start*/



.menu-bg {

    background: white;

}

.fixed-menu-bg {


    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999999999;
    animation: smothMenu 1s linear;


}


@keyframes smothMenu {


    0% {

        top: -72px;

    }

    100% {

        top: 0px;

    }

}


.menu-bg .menu .logo {


    width: 200px;
    float: left;

}

.menu-bg .menu .logo a img {

    width: 100%;
    padding-top: 40px;
    padding-bottom: 32px;

}


.menu-bg .menu .menu-list {

    width: 970px;
    float: left;

}

.menu-bg .menu .menu-list ul {

    float: right;

}


.menu-bg .menu .menu-list ul li {

    float: left;

}


.menu-bg .menu .menu-list ul li a {

    display: inline-block;
    margin-top: 28px;
    margin-bottom: 28px;
    padding: 15px 20px;
    background: white;
    color: #222222;
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    overflow: hidden;
    position: relative;
    transition: all linear .4s;
    border-radius: 1px;
    z-index: 1;
}

.menu-bg .menu .menu-list ul li .active {

    background: #ffc155;
}

.menu-bg .menu .menu-list ul li a::after {

    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: -100%;
    background: #ffc155;
    z-index: -1;
    transition: all linear .5s;

}

.menu-bg .menu .menu-list ul li a:hover::after {

    left: 0%;

}



/*menu end*/



/*offer section start*/

.offer-bg {

    padding-bottom: 20px;

}

.offer-bg .offer .offer-heading {

    text-align: center;
    padding: 82px 0px 90px 0px;

}

.offer-bg .offer .offer-heading h2 {

    color: #709dca;
    font-family: var(--opensens);
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;

}

.offer-bg .offer .offer-heading p {

    font-family: var(--opensens);
    font-weight: 400;
    font-size: 16px;
    color: #394b50;

}

/*offer heading end*/


.offer-bg .offer .offer-box .offer-item {

    width: 570px;
    float: left;


}


.offer-bg .offer .offer-box .offer-item img {


    position: absolute;
    padding-left: 29px;
    padding-top: 8px;

}

.offer-bg .offer .offer-box .offer-item .offer-text {


    padding-left: 115px;
    padding-bottom: 72px;

}


.offer-bg .offer .offer-box .offer-item .offer-text h3 {


    color: #394b50;
    font-family: var(--opensens);
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 20px;

}


.offer-bg .offer .offer-box .offer-item .offer-text p {


    color: #7b7b7b;
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;

}


/*offer section end*/



/*we are section start*/



.weAre-bg .we-img {


    width: 50%;
    height: 623px;
    float: left;

}

.weAre-bg .we-img img {

    width: 100%;

}


.weAre-bg .we-text {

    width: 50%;
    height: 623px;
    float: left;
    background: #ffc155;
    padding: 100.5px 167px 85px 80px;
    box-sizing: border-box;


}


.weAre-bg .we-text h2 {


    font-family: var(--opensens);
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
    color: white;
    padding-bottom: 26px;

}

.weAre-bg .we-text p {


    font-family: var(--roboto);
    font-weight: 400;
    font-size: 13px;
    color: white;
    line-height: 24px;
    padding-bottom: 14px;
}


.weAre-bg .we-text .read-more a {



    padding: 15px 30px;
    font-family: var(--opensens);
    font-weight: 400;
    font-size: 14px;
    margin-top: 36.5px;
    border-radius: 2px;
    border-color: white;
    color: white;

}



/*we are section end*/




/*funfact start*/


.fun-bg {


    background: url(../images/funfact.jpg) no-repeat center / cover;
    padding: 80px 0px;
    position: relative;
    z-index: 1;

}

.fun-bg::after {

    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.63);
    z-index: -1;

}

.fun-bg .funfact .fun-item {


    width: 270px;
    float: left;
    text-align: center;
    color: white;

}

.fun-bg .funfact .fun-item i {

    font-size: 45px;
    padding-bottom: 15px;


}

.fun-bg .funfact .fun-item h2 {

    font-size: 40px;
    padding-bottom: 10px;

}


/*funfact end*/


/*scroll-btn start*/

.scroll-btn{
    
    
    position: fixed;
    bottom: 30px;
    right:30px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #3a7aa2;
    cursor: pointer;
    z-index: 9999999;
    color: white;
    display: none;
}

.scroll-btn i{
    
    width: 45px;
    height: 45px;
    display: block;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
}




/*scroll-btn end*/
